{% extends "master.html" %}

{% block content %}
<h2>Product Form</h2>

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" class="form-control"
               value="{{ product.name if product else '' }}">
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input type="number" name="price" class="form-control"
               value="{{ product.price if product else '' }}">
    </div>

    <div class="mb-3">
        <label>Category</label>
        <select name="category_id" class="form-control">
            {% for c in categories %}
            <option value="{{ c.id }}"
                {% if product and product.category_id == c.id %}selected{% endif %}>
                {{ c.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label>Image</label>
        <input type="file" name="image" class="form-control">

        {% if product and product.image %}
        <img src="/static/uploads/{{ product.image }}" width="100" class="mt-2">
        {% endif %}
    </div>

    <button class="btn btn-success">Save</button>
    <a href="/products" class="btn btn-secondary">Back</a>

</form>
{% endblock %}
